.App {
  text-align: center;
  background-image: url('./assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 300vh;
}

img {
  height: 5.5em;
  width: 5.5em;
}

.section-title {
  font-size: 34px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .section-title {
    font-size: 21px;
    font-weight: bold;
  }

  img {
    height: 3.5em;
    width: 3.5em;
  }
}